@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .main-btn {
        @apply cursor-pointer rounded-xl bg-primary font-medium shadow-xl duration-200 hover:scale-105;
    }
    .around-shadow {
        box-shadow:
                rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
                rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }
    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
    }
    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid #fecd2a;
        border-color: #fecd2a transparent #fecd2a transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}
